.retail-sales-container {
  background-color: white;
  min-width: 800px;
  width: 100%;
  margin-bottom: 70px;
  padding: 18px;
}

.graph-container {
  height: auto;
  width: 800px;
}

.retail-sales-months {
  display: flex;
  justify-content: space-between;
  color: gray;
  max-width: 800px;
  width: 100%;
}
