.app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  height: auto;
}

.app-content {
  display: flex;
  flex-direction: row;
  padding: 90px 30px 0 30px;
}

.app-content > div:not(:first-child) {
  margin-left: 40px;
}
